<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for News</h1>

<f:flashMessages />

    <f:for each="{newss}" as="news">
        <h1>Title: {news.title}</h1>
        <h2>Author: {news.author.name}</h2>
        <p>Text: {news.text}</p>
            
    </f:for>

</f:section>